<header class="toolbars-wapper">
  <mat-toolbar class="toolbars">
    <div class="topToolbar-wrapper">
      <div class="topToolbar">
        <div class="sign-wrapper">
          <div class="sign">
            <a href="#">Register</a>
            <a href="#">Sign in</a>
          </div>
        </div>
        <div class="cart-wrapper">
          <div class="cart">
            <img alt="cart" src="../assets/images/cart.png"/>
            empty
            <span class="material-icons">expand_more</span>
          </div>
        </div>
      </div>
    </div>

    <div class="secondToolbar">
      <h1><span>AVENUE</span> FASHION</h1>
      <span class="spacer"></span>
      <div class="menu-wapper">
        <ul class="menu">
          <li class="main-menu-li"><a href="#">MENS
            <span class="material-icons">expand_more</span>
          </a>
            <div class="sub-menu-box-wrapper">
              <div class="sub-menu-box">

                <div class="sub-menu-box-top-wrapper">
                  <ul>
                    CASUALS
                    <li><a href="#">Jackets</a></li>
                    <li><a href="#">Hoodies & Sweatshirts</a></li>
                    <li><a href="#">Polo Shirts</a></li>
                    <li><a href="#">Sportswear</a></li>
                    <li><a href="#">Trousers & Chinos</a></li>
                    <li><a href="#">T-Shirts</a></li>
                  </ul>
                  <ul>
                    FORMAL
                    <li><a href="#">Jackets</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Suits</a></li>
                    <li><a href="#">Trousers</a></li>
                  </ul>
                </div>

                <div class="sub-menu-box-bottom-wrapper">
                  <div class="sub-menu-box-bottom">
                    <p>AUTUMN SALE!</p>
                    <p>UP TO 50% OFF</p>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <li class="main-menu-li"><a href="#">WOMENS
            <span class="material-icons">expand_more</span>
          </a>
            <div class="sub-menu-box-wrapper">
              <div class="sub-menu-box">

                <div class="sub-menu-box-top-wrapper">
                  <ul>
                    CASUALS
                    <li><a href="#">Jackets</a></li>
                    <li><a href="#">Hoodies & Sweatshirts</a></li>
                    <li><a href="#">Polo Shirts</a></li>
                    <li><a href="#">Sportswear</a></li>
                    <li><a href="#">Trousers & Chinos</a></li>
                    <li><a href="#">T-Shirts</a></li>
                  </ul>
                  <ul>
                    FORMAL
                    <li><a href="#">Jackets</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Suits</a></li>
                    <li><a href="#">Trousers</a></li>
                  </ul>
                </div>

                <div class="sub-menu-box-bottom-wrapper">
                  <div class="sub-menu-box-bottom">
                    <p>AUTUMN SALE!</p>
                    <p>UP TO 50% OFF</p>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <li class="main-menu-li"><a href="#">THE BRAND</a></li>
          <li class="main-menu-li"><a href="#">LOCAL STORES</a></li>
          <li class="main-menu-li">
            <a href="#">LOOK BOOK
              <span class="material-icons">expand_more</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="search-box-wapper">
        <div class="search-box">
          <input type="text" placeholder="Search...">
          <span class="material-icons">search</span>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
